@{
    ViewBag.Title = "Home Page";
}

<ol class="round">
    <li class="one">
        <h5>Dodaj graczy</h5>
      @Html.ActionLink("Kliknij aby dodać graczy", "Index", "Player") 
    </li>

    <li class="two">
        <h5>Dodaj drużyny</h5>
       @Html.ActionLink("Kliknij aby dodać drużyny", "Index", "Team") 
    </li>

    <li class="three">
        <h5>Start turnieju</h5>
        @Html.ActionLink("Kliknij aby wystartować turniej", "Index", "Tournament") 
    </li>
</ol>
