@model IEnumerable<PlayoffsCreator.Models.GameModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>TournamentModel</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>



