@model  IEnumerable<PlayoffsCreator.Models.GameModel>

@{
    ViewBag.Title = "Tournament Tree";
}

<h2>Tournament Tree</h2>

<div>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>

@for (int i = Model.Max(o => o.TreeLevel); i >= 0; --i)
{
    <table style="margin-left: auto; margin-right: auto; margin-bottom: 30px">
        <tr>
            @foreach (var game in Model.Where(o => o.TreeLevel == i))
            {
                <td>

                    @{string style = game.IsFinished() ? null : "border-color:Red";}

                    <div class="treeNode" style="@style">
                        @Html.Raw(game.Team1.TeamName + "\n" + game.Result().Values.First() + ":" + game.Result().Values.Last()  +
//                            (game.IsFinished() ? (game.Result().Values.First() + ":" + game.Result().Values.Last()) : ("--:--")) +
                            "\n" + game.Team2.TeamName)
                    </div>
                </td>
            }
        </tr>
    </table>
}

<form action="/Tournament/Index/2" method="GET">
    <fieldset class="form-horizontal">
        <div class="form-actions no-color">
            <input type="submit" value="Run the simulator" class="btn" />
        </div>
    </fieldset>
</form>